<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>「天気」掲載記事の著作権について</title>
<!-- 著作権ページ固有のCSSを読み込む。 -->
<link rel="stylesheet" href="{% static 'search/css/copyright.css' %}" type="text/css" />
</head>

<body>
<h1>ご利用にあたってのお願い</h1>
<h2>2007年4月1日　日本気象学会「天気」編集委員会<br />
</h2>


<ol>
  <li>本サーバーで公開されている記事の著作権については下記文書をご参考になり、更に疑義をお持ちの方は日本気象学会事務局 までお問い合わせ下さい。 </li>
  <li>本サーバーで公開されている記事を個人のWEBページで利用される場合は、本サーバのPDFファイルにリンクを貼ってご利用下さい。</li>

</ol>
<hr />
<h1>「天気」掲載記事の電子アーカイブに関わる著作権委譲について
</h1>
<h2> </h2>
<h2>2007年3月5日　日本気象学会理事会 </h2>
<p> </p>
<p>日本気象学会では創立125周年記念事業の一環として「天気」の掲載記事を第１巻まで遡って電子化して保存・公開すること（電子アーカイブ）を計画して参りましたが、この度、電子化の作業が順調に終わり、2007年4月1日より公開を行なうこととなりました。 </p>
<p>1993年以前の「天気」には著作権の記載が無く、従って、この期間の論文の著作権は著者にあります。このため、気象学会理事会では、2006年3月8日付けで「1993年以前の「天気」掲載論文の著作権の学会への委譲についてのお願い」を下記参考資料のとおり行いましたが、これまで本件に関して、著作権委譲を拒否する方は無く、また、電子アーカイブ事業への異論も聞かれませんでした。 </p>
<p>このような簡便な方法の場合、法律的には、著作権の委譲が完了したとはいえません。しかし、多くの方が電子アーカイブの実現を望んでおり、著者の皆様からもその意義をご理解いただけるものと考えています。以上の理由で、日本気象学会では電子アーカイブを実施することにいたしました。なお、電子アーカイブを希望されない1993年以前の記事については、公開後であっても、電子アーカイブより削除しますので、気象学会事務局宛、お知らせください。 </p>
<p> </p>
<p></p>
<p> </p>

<BR><BR>
<p>（参考資料） </p>
<h1>1993年以前の「天気」掲載記事に関する著作権の学会への委譲のお願い</h1>
<h2> </h2>
<h2>2006年3月8日 日本気象学会理事会 </h2>
<p> </p>
<p>日本気象学会では創立125周年記念事業の一環として「天気」掲載記事を第１巻まで遡って電子化して保存・公開することを計画中です。ただし、1993年以前の「天気」については、著作権の記載が無く、従って、この期間の記事の著作権は著者にあります。本来ならば、すべての著者に対して個別に掲載記事の電子化保存・公開の許諾を求める必要があります。しかし、それは現実にはほとんど不可能です。 </p>
<p>そこで、ここに1993年以前の「天気」掲載記事のすべての著者に対し、当該記事の著作権を気象学会に委譲されることをお願いする次第です。ただし、電子化保存・公開を希望されない記事については、お知らせいただければ対象から除外します。この取り扱いについて、ご質問、ご意見がある場合は、気象学会事務局宛お知らせください。2006年６月末日までを意見のお申し出期間とし、それまでにご異論がなければ、1993年以前の「天気」掲載記事についても、著作権を学会に委譲されたものとして、電子化保存と公開の対象といたします。なお、このお願いは「天気」を通じて行うほか、気象学会ホームページにも掲示します。 </p>
<p>「天気」の電子化保存・公開事業は研究の便宜を図るのみならず文化史的にも大変意義のある事業です。気象学会会員及び「天気」の著者の皆様のご理解とご協力をお願いいたします。 </p>
<p> <br />
</p>

</body>
</html>
